* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: grey;
}
header{
    background-color: white;
    margin-bottom: auto;
    padding: 20px;
}
.form-one{
    border: solid 2px;
    padding: 4px;
    background-color: blue;
    border-radius: 14%;
    margin-bottom: ;
}
.form-two{
    border: solid 2px;
    padding: 4px;
    background-color: white;
    border-radius: 14%;
}
main{
    margin-top: 20px;
}
.border-bottom{
    border-bottom: solid 1px;
    color: black;
}
.valid{
    color: green;
    border-radius: 50px;
    border-style: hidden 10px;
}
.invalid{
    color:#FF3030 ;
}
.text{
 

}